.sweet-loading {
  z-index: 999999;
  background: black;
  opacity: .7;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  &>div {
    width: 100px;
    height: 80px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }
}