/* ==========================================================================
   # START BUTTON COMPONENT
   ========================================================================== 
*/

.c-button {
    margin: 10px 0 0 0;

    &+&{
        margin-left: 15px;
    }
}


.c-button__eyes {
    outline: 0 !important;
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 24px;
    cursor: pointer;

    i {
        font-size: 20px;
    }
}

/* ==========================================================================
   # END BUTTON COMPONENT
   ========================================================================== 
*/