/* ==========================================================================
   # START HEADING
   ========================================================================== 
*/

.c-heading {
   color: #fff;
   margin: 0; 
}

.c-heading__h4 {
    font-size: 1.4em;
    min-height: auto;
    font-weight: 300;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 3px;
    text-decoration: none;
}



/* ==========================================================================
   # END HEADING
   ========================================================================== 
*/