// COLORS 
$global-color-branch: #ab47bc;
$global-color-primary: #3f51b5;
$global-color-success: #00ff00;
$global-color-error: #f00;

// COLORS TEXT
$global-color-text-branch: #565454;

// COLORS TEXT STATUS
$global-color-text-new: #ffbf00;
$global-color-text-approved: #1e7e34;
$global-color-text-rejected: #ed2553;
$global-color-text-pending: #ff7400;